@import '../App.scss';

.services-card {
  width: 20rem;
  height: 21rem;
  padding: 3.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 0rem .2rem 2rem 0rem rgba(179, 200, 193, 0.28);

  > img {
    width: 8.4rem;
    height: 8.4rem;
    flex-shrink: 0;
  }

  > h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: $black;
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    width: 100%;
    > img {
      width: 100%;
      height: auto;
    }
  }
}
